{% extends "layout.html" %}

{% block content %}
<div class="container form-top-25vh">
    <h2>Change Password</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {% for error in form.old_password.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <label for="old-password" class="form-label">Old Password</label>
            <input type="password" class="form-control" id="old-password" name="old_password" required>
        </div>
        <div class="mb-3">
            {% for error in form.new_password.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <label for="new-password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new-password" name="new_password" required>
        </div>
        <div class="mb-3">
            {% for error in form.confirm_password.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <label for="confirm-password" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="confirm-password" name="confirm_password" required>
        </div>
        <div class="mb-3">
            {{ form.recaptcha }}
            {% if form.recaptcha.errors %}
                {% for error in form.recaptcha.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
{% endblock %}